* {
    margin: 0;
    padding: 0;
}


/* @import url("./fonts.css"); */

body {
    font-family: "Huifont";
    padding: 0 12vh;
    background-color: #049a54;
}

body::after {
    content: "";
    background-image: url("../images/background-safety.jpg");
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    /* bottom:-1200px; */
    right: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}


/* mini menu */

.mini-menu {
    position: fixed;
    top: 100px;
    left: 1vw;
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: azure;
}



.fa-sharp {
    color: azure;
}

.travel-icon {
    color: azure;
}

.mini-menu p:hover {
    background-color: rgb(224, 247, 255);
    border-radius: 5px;
}

.mini-menu .travel-icon:hover {
    color: #049a54;
}

.mini-menu .fa-sharp:hover {
    color: #049a54;
}


/* Wrap */

.wrap {
    position: relative;
    top: 100px;
    padding: 5vh 0 5vh 5vw;
    margin-bottom: 15vh;
    background-color: aliceblue
}


/* #wrap {
display: block;
} */


/* banner */

.wrap h1 {
    color: #049a54;
    font-family: 'Rouge Script', cursive;
    font-size: 50px;
    font-weight: normal;
    line-height: 48px;
    margin: 0 0 50px;
    text-align: center;
    text-shadow: 1px 1px 2px #082b34;
}

#banner {
    border-radius: 5px;
    border: solid #049a54;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 400px;
}


/* tips */

#tips {
    margin: 5%;
}

.card {
    /* width: 350px;
height: 370px; */
    background-color: aliceblue;
    padding: 30px 10px;
    border-radius: 10px;
    border: none;
}

.card ul {
    /* padding-top: 5px; */
    padding: 40px 5px;
    min-width: 100%
}

.card ul li {
    list-style: none;
    padding: 10px;
    /* display: table; */
    position: relative;
    margin: 10px 0;
    cursor: pointer;
    padding-left: 50px;
    width: 100%;
    transition: 2s
}

.card ul li:hover {
    padding-left: 20px
}

.card ul li span {
    position: relative;
    z-index: 10;
    transition: all 0s;
    transition-delay: 0.2s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
    font-size: 20px;
}

.card ul li:hover span {
    color: #fff
}

.card ul li::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 34px;
    top: 0;
    left: 0;
    transition: all 0.8s;
    border: 2px solid #049a54;
    box-sizing: border-box
}

.card ul li::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    height: 5px;
    width: 5px;
    transform: rotate(45deg);
    border-top: 2px solid #049a54;
    border-right: 2px solid #049a54
}

.card ul li:hover::before {
    width: 100%;
    background-color: #049a54
}

@media(max-width: 1224px) {
    .wrap {
        position: relative;
        /* top: 100px; */
        /* padding: 5vh 0 5vh 5vw; */
        /* margin-bottom: 15vh; */
        width: auto;
        height: auto;
        background-color: aliceblue;
        text-align: center;
        justify-content: center;
        padding: 0 0;
        margin: 0 0;
    }
    #banner {
        width: 60%;
    }
    .card ul {
        padding-left: 0;
        width: 200px;
    }
    .card ul li span {
        font-size: 15px;
        word-wrap: break-word;
        text-align: left;
    }
}

@media(max-width: 414px) {
    .card ul li::before {
        display: none;
    }
    .card ul li::after {
        display: none;
    }
    .card ul li {
        list-style: none;
        padding: 10px;
        /* display: table; */
        position: relative;
        margin: 10px 0;
        cursor: pointer;
        /* padding-left: 50px; */
        width: 100%;
        font-size: 10px;
        text-align: left;
    }
}